<nav class="bottom-nav">
  <div class="bottom-nav__wrapper">
    <app-bottom-nav-item
      iconName="home"
      route="/home"
    />
    <app-bottom-nav-item
      iconName="music-album"
      route="/lanzamientos"
    />
    <app-bottom-nav-item
      iconName="add-circle-filled"
      route="/nuevo"
      variant="create"
    />
    <app-bottom-nav-item
      iconName="profile-filled"
      route="/perfil"
    />
  </div>
  <app-bottom-nav-item
    class="bottom-nav__ai"
    iconName="grad-star-ai"
    route="/riffi"
    variant="ai"
  />
</nav>
