<header class="navbar">
  <div class="navbar__left">
    <a routerLink="/home" class="navbar__logo-link">
      <img src="assets/icons/logo-riffims.svg" alt="Riffims" class="navbar__logo">
    </a>
  </div>
  <div class="navbar__right">
    <button class="navbar__icon-btn">
      <app-icon name="notification" [size]="24" />
    </button>
    <a routerLink="/perfil" class="navbar__avatar-link">
      <app-avatar [src]="profileService.profile()?.avatar_url ?? null" [size]="36" />
    </a>
  </div>
</header>
